<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yy-MM-dd HH:mm:ss,SSS} %-5p %c(%F:%L) ## %m%n" />
        </layout>
    </appender>

    <logger name="org.apache" additivity="false">
     	<!-- log4j中输入信息的级别有debug,info,warn,error,fatal 5个级别
		他们对应的是输出信息的级别,级别越低信息输入越详细.使用debug级别的时候,info中的信息也能输出
		使用info的时候,debug对应的信息显示不出来
		一般在开发的时候使用debug, 开发完成后使用error -->
        <level value="debug" />
        <appender-ref ref="stdout" />
    </logger>

    <root>
        <level value="info" />
        <appender-ref ref="stdout" />
    </root>

</log4j:configuration>